body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* scroll bar 15 - 34*/
/* width */
#scrollbar::-webkit-scrollbar {
  width: 10px;
}

/* Track */
#scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
#scrollbar::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
#scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media (max-width: 768px) {
  #navcontainer{
      position: absolute;
      width:100%;
      z-index: 1;
      margin-top:-60px;
  }

  .mobile-body{
    margin-top:60px !important;
  }

  .mb-ml-65px{
    margin-left:65px;
  }
}